* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -----------------------------------
   CONTAINER
----------------------------------- */
.app-container {
  max-width: 420px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
}

.search-box {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input {
  flex: 1;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.search-box input::placeholder {
  color: #cbd5e1;
}

.search-box button {
  padding: 0 18px;
  border: none;
  border-radius: 12px;
  background: #38bdf8;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
  transition: .2s ease;
}

.search-box button:hover {
  background: #7dd3fc;
}