/* ------------------------------
   GLOBAL RESET + BASE STYLES
--------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #2c0303;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* App Wrapper */
.app {
  width: 100%;
  max-width: 450px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* ------------------------------
   HEADER
--------------------------------*/
.header .title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 25px;
}

/* ------------------------------
   SEARCH SECTION
--------------------------------*/
.search-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 12px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(255,255,255,0.15);
  color: #fff;
}

.search-input::placeholder {
  color: #ddd;
}

.search-btn {
  padding: 12px 18px;
  background: #2c0303;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background: #140405;
}

/* ------------------------------
   ERROR MESSAGE
--------------------------------*/
.error-message {
  text-align: center;
  margin: 15px 0;
  color: #f87171;
  font-size: 0.95rem;
}

/* ------------------------------
   WEATHER DISPLAY
--------------------------------*/
.weather-display {
  text-align: center;
  margin-top: 25px;
}

.city-name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.temperature-box {
  margin: 15px 0;
}

.temperature {
  font-size: 4rem;
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.weather-icon {
  width: 120px;
  height: 120px;
}

/* ------------------------------
   EXTRA INFO
--------------------------------*/
.extra-info {
  margin-top: 30px;
  background: rgba(255,255,255,0.08);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.info-item h4 {
  font-size: 1rem;
  margin-bottom: 56x;
  font-weight: 500;
}

.info-item p {
  font-size: 1.1rem;
  font-weight: 600;
}

/* ------------------------------
   FOOTER
--------------------------------*/
.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.6;
}

/* ------------------------------
   RESPONSIVE (Phones & Tablets)
--------------------------------*/
@media (max-width: 480px) {
  
  .app {
    padding: 20px;
  }

  .title {
    font-size: 1.4rem;
  }

  .temperature {
    font-size: 3.2rem;
  }

  .weather-icon {
    width: 100px;
    height: 100px;
  }

  .extra-info {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
